.loginContent{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #121212;
}
.loginForm {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #000;
}
.loginForm *{
    color: #fff;
}
.loginForm input{
    color: #000;
}

.loginTitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
}

.loginInputTag{
    margin: 10px 0 5px;
    font-size: 14px;
    color: #fff;
}

.loginForm input{
    width: calc(100%);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.loginForm input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: red;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 2em 0;
}

.loginForm input[type="submit"]:hover {
    background-color: red;
}

.loginForm p a {
    color: red;
    text-decoration: none;
}

.loginForm p a:hover {
    text-decoration: underline;
}

.inputPasswordToggle{
    display: block;
    text-align: end;
}
.loginAlts{
    text-align: center;
}

.loginRegisterLink{
    text-align: center;
}
