.filtersOverlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(50, 50, 50, 0.8);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;


}

.filters {
    position: relative;
}

.filtersOverlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(50, 50, 50, 0.8);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtersContent {
    background-color: #fff;
    padding: 1.5em;
    border-radius: 1em;
    width: 90%;
    max-width: 500px;
    height: auto;
    max-height: 90vh;
    overflow-y: auto; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
}

.closeFiltersButton {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
    color: #444;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
}


/* Filter Sekce */
.filterSection {
    margin-bottom: 1em;
}

.filterSection h4 {
    font-size: 1.1em;
    margin-bottom: 0.5em;
    color: #333;
}

.priceInputs {
    display: flex;
    gap: 0.5em;
}

.priceInputs input {
    width: 48%;
    padding: 0.8em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    font-size: 1em;
}
.filterSection select {
    width: 100%;
    padding: 0.8em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    font-size: 1em;
}

.filterSection input[type="checkbox"] {
    margin-right: 0.5em;
}

.filterSection label {
    font-size: 1em;
    color: #333;
}

.filterButtons {
    display: flex;
    gap: 0.5em;
}

.applyFiltersButton,
.resetFiltersButton {
    flex: 1;
    padding: 0.8em;
    border: none;
    border-radius: 0.5em;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.applyFiltersButton {
    background-color: red;
    color: white;
}

.applyFiltersButton:hover {
    background-color: #000;
}

.resetFiltersButton {
    background-color: #000;
    color: white;
}

.resetFiltersButton:hover {
    background-color: #333;
}

.showFiltersButton {
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 0.5em;
    padding: 0.5em 0.8em;
    color: #fff;
    background-color: red;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.showFiltersButton:hover {
    background-color: #000;
}

