.signInWithGoogleContent{
    display: flex;
    align-items: center;
    justify-content: center;
}
.signInWithGoogle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: white;
    padding: 0.5em;
    border-radius: 50px;
    margin: 2em;
    width: 100%;
}
.signInWithGoogle p{
    color: #000;
    font-size: 1.5em;
    margin: 0.1em 0em;
}
.googleLogo{
    width: 2em;
    margin: 0em 0.5em;
}